# Git config
git config --global user.name "Umit Canbolat"
git config --global user.email "umit@umitcanbolat.nl"
git config --global core.editor nano
git config --global init.defaultBranch main

# Sign commits
git config --global gpg.program "C:/Program Files (x86)/GnuPG/bin/gpg.exe"
git config --global commit.gpgsign true