# Windows settings
Set-WindowsExplorerOptions -EnableShowFileExtensions -EnableShowFullPathInTitleBar

# Browsers
winget install Brave.Brave --silent --accept-package-agreements --accept-source-agreements --force

# Chat
winget install Microsoft.Teams --silent --accept-package-agreements --accept-source-agreements --force
winget install Discord.Discord --silent --accept-package-agreements --accept-source-agreements --force

# Tools
winget install PuTTY.PuTTY --silent --accept-package-agreements --accept-source-agreements --force
winget install Postman.Postman --silent --accept-package-agreements --accept-source-agreements --force

# Git
winget install Git.Git --silent --accept-package-agreements --accept-source-agreements --force
winget install GitHub.cli --silent --accept-package-agreements --accept-source-agreements --force
winget install GitHub.GitHubDesktop --silent --accept-package-agreements --accept-source-agreements --force
winget install GnuPG.Gpg4win --silent --accept-package-agreements --accept-source-agreements --force

# Coding environments
winget install Microsoft.VisualStudioCode --silent --accept-package-agreements --accept-source-agreements --force

# Windows and CLI
winget install Microsoft.PowerToys --silent --accept-package-agreements --accept-source-agreements --force
winget install Microsoft.WindowsTerminal.Preview --silent --accept-package-agreements --accept-source-agreements --force
winget install Microsoft.PowerShell.Preview --silent --accept-package-agreements --accept-source-agreements --force
winget install JanDeDobbeleer.OhMyPosh --silent --accept-package-agreements --accept-source-agreements --force

# Development Enviroment
winget install Microsoft.dotnet --silent --accept-package-agreements --accept-source-agreements --force
winget install OpenJS.NodeJS --silent --accept-package-agreements --accept-source-agreements --force

# Miscellaneous
winget install 7zip.7zip --silent --accept-package-agreements --accept-source-agreements --force

# Upgrade all winget packages
winget upgrade --all --silent --accept-package-agreements --accept-source-agreements --force